<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4cda6cd1;">
  <%= link_to "Blog App", root_path, class: "navbar-brand"%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <%= link_to "Articles", articles_path, class:"nav-link"%><span class="sr-only">(current)</span>
      </li>

      <% if user_signed_in?%>
        <li class="nav-item active">
          <%= link_to "Add Article", new_article_path, class:"nav-link"%><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Out", destroy_user_session_path, method: :DELETE, class:"nav-link"%><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link"%><span class="sr-only">(current)</span>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign In", new_user_session_path, class:"nav-link"%><span class="sr-only">(current)</span>
        </li>
      <% end %>

      <li class="nav-item active">
        <%= link_to "About Us", welcome_about_path, class:"nav-link"%><span class="sr-only">(current)</span>
      </li>
    </ul>
    
    <% if user_signed_in?%>
      <div style="margin-right:20px; font-weight:bold;">
        <%= "@"%><%= current_user.email.split("@")[0].capitalize%>
      </div>
    <% end %>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>